---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found">
  <div class="utility-page-wrap _404">
    <div data-w-id="0a4a43a1-5c23-4707-6f3f-8db541852f5e" class="position-absolute-bottom">
      <div class="w-layout-blockcontainer container w-container">
        <div class="padding-6">
          <div class="w-layout-grid banner-grid blog">
            <div>
              <div style="-webkit-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="fade-in-button">
                <a href="/" class="back-wrapper w-inline-block">
                  <div class="arrow-block"></div>
                  <div class="button-background-hover"></div>
                </a>
              </div>
              <div class="margin-top-1">
                <div style="opacity:0;-webkit-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="fade-in-heading">
                  <h1 class="color-text-primary">404<br>Page not found</h1>
                </div>
              </div>
            </div>
            <div id="w-node-_0a4a43a1-5c23-4707-6f3f-8db541852f68-89e9dcf9">
              <div class="padding-0-5">
                <div style="-webkit-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="fade-in-description">
                  <div class="paragraph color-text-primary">The page you were looking for doesn’t exist. You may have mistyped the address or the page may have moved.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-gradient"></div>
  </div>
</Layout>
