---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.svelte";
---

<Layout title="Camping Maestrat Nature">
  <div class="page-wrapper">
    <div class="main-wrapper">
      <Navbar />
      <section
        data-w-id="b23e2f4a-0194-5b5d-c34e-e3f0f0905ca8"
        class="section full-screen"
      >
        <div class="banner-gradient"></div>
        <div
          data-w-id="3bb4d53f-4830-6dc0-1f8c-91e76edce19a"
          class="position-absolute-bottom"
        >
          <div class="w-layout-blockcontainer container w-container">
            <div class="padding-6">
              <div class="w-layout-grid banner-grid">
                <div>
                  <div
                    style="opacity:0;-webkit-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="fade-in-heading"
                  >
                    <h1 class="color-text-primary">
                      Camping Maestrat<br />Nature
                    </h1>
                  </div>
                  <div class="tablet-layout-none">
                    <div class="margin-top-1-5"></div>
                  </div>
                </div>
                <div
                  id="w-node-_245ee968-b026-d622-e6c8-c6d036633868-89e9dcea"
                  class="tablet-layout-none"
                >
                </div>
                <div
                  id="w-node-_630cf628-3f13-ab85-86d3-0749605da60c-89e9dcea"
                  class="padding-0-5"
                >
                  <div
                    style="-webkit-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                    class="fade-in-description"
                  >
                    <div class="paragraph color-text-primary">
                      Discover <strong>Maestrat Nature</strong>, a paradise in
                      the heart of <strong>Maestrat, Castellón</strong>.
                      Surrounded by stunning landscapes and Mediterranean
                      nature, it’s the perfect place to disconnect, explore
                      trails, and enjoy outdoor adventures.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-layout-blockcontainer container w-container">
          <div id="Sunny-Lake-National-Park" class="padding-6">
            <div class="w-layout-grid sticky-grid">
              <div class="sticky-wrapper">
                <div
                  data-w-id="768660e4-3460-39e6-1fc1-a84549db3b30"
                  class="sticky-description-wrapper"
                >
                  <div
                    style="opacity:0;-webkit-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="fade-in-heading"
                  >
                    <h2>Natural Adventure in the Mountains</h2>
                  </div>
                  <div
                    style="-webkit-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                    class="fade-in-description"
                  >
                    <div class="margin-top-1">
                      <div class="paragraph">
                        <strong>Discover Maestrat Nature</strong>, a paradise in
                        the heart of <strong>Maestrat, Castellón</strong>.
                        Surrounded by stunning Mediterranean landscapes, it’s
                        the perfect destination to disconnect, explore trails,
                        and enjoy outdoor adventures. With <strong
                          >107 pitches</strong
                        > and <strong>48 accommodation units</strong>, we offer
                        the ideal space for both traditional camping enthusiasts
                        and those who prefer the comfort of our fully equipped <strong
                          >bungalows and mobile homes</strong
                        >. With a total capacity of <strong>371 people</strong>,
                        our campsite ensures a unique experience in nature, with
                        all the amenities for an unforgettable stay.Whether
                        you're traveling as a couple, with friends, or family,
                        at <strong>Maestrat Nature</strong> you'll find the perfect
                        blend of tranquility and adventure in an environment that
                        invites relaxation and a deep connection with nature. Come
                        and experience it!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sticky-wrapper padding-left-4-5">
                <img
                  src="/images/imagen-3.jpg"
                  loading="lazy"
                  sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 90vw, 91vw"
                  srcset="/images/imagen-3-p-500.jpg 500w, /images/imagen-3-p-800.jpg 800w, /images/imagen-3-p-1080.jpg 1080w, /images/imagen-3.jpg 1920w"
                  alt=""
                  class="sticky-image _1"
                /><img
                  src="/images/imagen-2.jpg"
                  loading="lazy"
                  sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 90vw, 91vw"
                  srcset="/images/imagen-2-p-500.jpg 500w, /images/imagen-2-p-800.jpg 800w, /images/imagen-2-p-1080.jpg 1080w, /images/imagen-2.jpg 1920w"
                  alt=""
                  class="sticky-image _2"
                /><img
                  src="/images/imagen-4.jpg"
                  loading="lazy"
                  sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 90vw, 91vw"
                  srcset="/images/imagen-4-p-500.jpg 500w, /images/imagen-4-p-800.jpg 800w, /images/imagen-4.jpg 1328w"
                  alt=""
                  class="sticky-image _3"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-layout-blockcontainer container w-container">
          <div class="padding-6">
            <div
              data-w-id="c3ab9b26-8829-9626-8e82-627322be7bd3"
              class="fade-in-heading"
            >
              <h2>Know before you go</h2>
            </div>
            <div class="margin-top-4">
              <div class="w-layout-grid three-columns">
                <a href="#" class="info-card w-inline-block">
                  <div>
                    <img
                      src="/images/partly_cloudy_day_24dp_5F6368_FILL0_wght200_GRAD0_opsz24-1.svg"
                      loading="lazy"
                      alt="Icon"
                      class="info-card-icon"
                    />
                    <div class="margin-top-2">
                      <h3>When to go</h3>
                      <div class="margin-top-1">
                        <div class="paragraph-secondary">
                          <strong
                            >Maestrat Nature enjoys warm summers and mild
                            winters, perfect for year-round stays.</strong
                          > Pack layers and check the forecast for a comfortable
                          adventure.
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  href="https://maps.app.goo.gl/gr5VHxg6G2wRaHBW8"
                  target="_blank"
                  class="info-card w-inline-block"
                >
                  <div>
                    <img
                      src="/images/pin_drop_24dp_5F6368_FILL0_wght200_GRAD0_opsz24-1.svg"
                      loading="lazy"
                      alt="Icon"
                      class="info-card-icon"
                    />
                    <div class="margin-top-2">
                      <h3>Getting here</h3>
                      <div class="margin-top-1">
                        <div class="paragraph-secondary">
                          <strong
                            >Maestrat Nature is easily accessible via CV-136 at
                            Km 1.5 in Sant Jordi, Cervera.</strong
                          > A perfect nature escape just a short drive from major
                          towns.
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="#" class="info-card w-inline-block">
                  <div>
                    <img
                      src="/images/info_24dp_5F6368_FILL0_wght200_GRAD0_opsz24-1.svg"
                      loading="lazy"
                      alt="Icon"
                      class="info-card-icon"
                    />
                    <div class="margin-top-2">
                      <h3>Get in touch</h3>
                      <div class="margin-top-1">
                        <div class="paragraph-secondary">
                          <strong>Have questions? We're here to help!</strong> Contact
                          our friendly team for visitor information, trip planning
                          tips, and updates at: <strong
                            >info@campingmaestrat.com</strong
                          >.
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="background-primary">
        <section class="section">
          <div class="w-layout-blockcontainer container w-container">
            <div class="padding-1-25">
              <div class="w-layout-grid footer-grid">
                <div class="left-column">
                  <div class="w-layout-hflex gap-2-horizontal tablet-vertical">
                    <a href="#" class="footer-link w-inline-block">
                      <div class="paragraph-secondary footer-hover">
                        Maestrat Nature S. L
                      </div>
                    </a>
                    <a
                      href="mailto:info@campingmaestrat.com"
                      class="footer-link w-inline-block"
                    >
                      <div class="paragraph-secondary footer-hover">
                        info@campingmaestrat.com
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</Layout>
