---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.svelte";
import Footer from "../components/Footer.astro";
---

<Layout title="Privacy Policy - Camping Maestrat Nature">
  <div class="page-wrapper">
    <div class="main-wrapper">
      <Navbar isHomePage={false} client:load />
      <div class="background-primary"></div>
      <section class="section">
        <div class="w-layout-blockcontainer container w-container">
          <div class="margin-top-5">
            <div class="padding-6">
              <div class="layout-center">
                <h1 class="fade-in-heading">Privacy Policy</h1>
                <div class="margin-top-4">
                  <div class="post-body w-richtext fade-in-description">
                    <p>Last updated 12.12.2024</p>
                    <p>
                      When you visit, use, or navigate our Services, we may
                      process personal information depending on how you interact
                      with Camping Maestrat Nature and the Services, the choices
                      you make, and the products and features you use.
                    </p>
                    <h3>1. Information we collect</h3>
                    <p>
                      We collect personal information that you voluntarily
                      provide to us when you [register on the Services,] express
                      an interest in obtaining information about us or our
                      products and Services, when you participate in activities
                      on the Services, or otherwise when you contact us.
                    </p>
                    <h4>Personal information provided by you</h4>
                    <p>
                      Donec euismod eros a nulla rutrum, quis suscipit metus
                      mollis. Cras semper ante in ex faucibus, eu rhoncus lorem
                      dictum. Sed ut imperdiet nunc. Aliquam dui ante, mattis
                      sed vestibulum at, sollicitudin et tortor. Integer tempor
                      maximus scelerisque. Fusce ut ligula eu turpis semper
                      viverra sed at turpis. Ut sit amet arcu tellus. Vestibulum
                      congue nibh ac dolor euismod pulvinar.
                    </p>
                    <p>
                      Vivamus ut leo eget augue malesuada aliquet. Sed pharetra
                      vehicula luctus. Nunc dui urna, semper tristique tortor
                      quis, dictum sodales risus. Donec finibus rutrum leo at
                      volutpat. Sed ut vestibulum nulla. Curabitur vitae
                      interdum ex, at fermentum magna. Duis quis erat in tortor
                      venenatis malesuada. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                    </p>
                    <ul role="list">
                      <li>Name and Contact Data</li>
                      <li>Demographic Data</li>
                      <li>Payment Data</li>
                    </ul>
                    <h4>Information automatically collected</h4>
                    <p>
                      Cras eget scelerisque mauris. In dui ex, commodo id ipsum
                      sit amet, scelerisque iaculis erat. Proin non nunc eu
                      velit molestie hendrerit. Vivamus ut lectus lectus.
                      Curabitur consectetur, nibh eget consequat mollis, erat
                      turpis vulputate ex, non porta orci risus at quam.
                      Maecenas egestas ligula nec viverra bibendum. Nunc
                      porttitor nec dui sed elementum.
                    </p>
                    <p>
                      Sed vehicula et mi vel sagittis. Aenean ut gravida eros,
                      vel egestas dui. Nam non purus tellus. Curabitur venenatis
                      quis felis a dapibus. Sed et enim eu mi facilisis congue.
                      Suspendisse efficitur elit nec enim facilisis rhoncus.
                      Vivamus egestas iaculis semper. Mauris lorem felis,
                      placerat ac eros in, imperdiet commodo enim. Curabitur
                      auctor erat diam, in luctus orci bibendum sed.
                    </p>
                    <h3>2. How do we process your information?</h3>
                    <p>
                      Donec augue massa, tempor at nisi a, commodo lacinia
                      mauris. Donec eget fermentum orci. Nulla sem nisi,
                      fringilla at egestas consequat, vehicula ac turpis. In id
                      lacus non urna condimentum venenatis. Fusce ut justo
                      aliquam, tempus dolor et, lobortis purus. Aenean sit amet
                      pharetra erat, id lobortis elit. Integer dolor eros,
                      auctor nec nunc ut, gravida semper augue. Mauris
                      sollicitudin mauris arcu, consequat vestibulum leo ornare
                      eu. Mauris ac purus a justo feugiat faucibus. Aliquam
                      lobortis euismod maximus. Donec est dui, convallis id
                      gravida id, pretium vel risus:
                    </p>
                    <ul role="list">
                      <li>
                        Aliquam lacinia fringilla eleifend. Nulla at turpis
                        vulputate, viverra elit et, interdum erat. Duis vitae
                        tincidunt dui.
                      </li>
                      <li>
                        Aenean ex magna, tristique nec est in, ultricies
                        tincidunt diam.
                      </li>
                      <li>
                        Praesent sed augue sed ex consectetur laoreet. Fusce
                        ultrices condimentum dui, eu dignissim lorem tincidunt
                        eget. Cras interdum vehicula sem nec aliquet.
                      </li>
                    </ul>
                    <h3>
                      3. What legal bases do we rely on to process your
                      information?
                    </h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Curabitur pretium metus eros, non consequat odio
                      pellentesque quis. Aliquam vitae nulla pellentesque,
                      malesuada nisl eget, placerat ipsum. Suspendisse ultrices
                      bibendum elit, at cursus tellus tempus vel. Nullam ac
                      viverra ante. Fusce vitae sapien quis sapien aliquet
                      dapibus at a lorem. Integer pulvinar eros eget tincidunt
                      venenatis. Vestibulum placerat, odio gravida varius porta,
                      ligula eros dictum turpis, vitae faucibus orci sem sit
                      amet dolor. Nullam sollicitudin diam sed lectus volutpat
                      vehicula. Sed nibh neque, bibendum id urna sed, pharetra
                      feugiat ante. Sed volutpat felis sed eros rutrum
                      tincidunt. Vestibulum sed sagittis dui:
                    </p>
                    <ol start="" role="list">
                      <li>
                        Donec euismod eros a nulla rutrum, quis suscipit metus
                        mollis. Cras semper ante in ex faucibus, eu rhoncus
                        lorem dictum. Sed ut imperdiet nunc.
                      </li>
                      <li>
                        Aliquam dui ante, mattis sed vestibulum at, sollicitudin
                        et tortor. Integer tempor maximus scelerisque. Fusce ut
                        ligula eu turpis semper viverra sed at turpis. Ut sit
                        amet arcu tellus.
                      </li>
                      <li>
                        Vestibulum congue nibh ac dolor euismod pulvinar.
                        Vivamus ut leo eget augue malesuada aliquet. Sed
                        pharetra vehicula luctus. Nunc dui urna, semper
                        tristique tortor quis, dictum sodales risus. Donec
                        finibus rutrum leo at volutpat. Sed ut vestibulum nulla.
                      </li>
                    </ol>
                    <h3>
                      4. When and with whom do we share your personal
                      information?
                    </h3>
                    <p>
                      Cras eget scelerisque mauris. In dui ex, commodo id ipsum
                      sit amet, scelerisque iaculis erat. Proin non nunc eu
                      velit molestie hendrerit. Vivamus ut lectus lectus.
                      Curabitur consectetur, nibh eget consequat mollis, erat
                      turpis vulputate ex, non porta orci risus at quam.
                      Maecenas egestas ligula nec viverra bibendum. Nunc
                      porttitor nec dui sed elementum.
                    </p>
                    <p>
                      Sed vehicula et mi vel sagittis. Aenean ut gravida eros,
                      vel egestas dui. Nam non purus tellus. Curabitur venenatis
                      quis felis a dapibus. Sed et enim eu mi facilisis congue.
                      Suspendisse efficitur elit nec enim facilisis rhoncus.
                      Vivamus egestas iaculis semper. Mauris lorem felis,
                      placerat ac eros in, imperdiet commodo enim. Curabitur
                      auctor erat diam, in luctus orci bibendum sed.
                    </p>
                    <h3>5. What is our stance on third-party websites?</h3>
                    <p>
                      Donec augue massa, tempor at nisi a, commodo lacinia
                      mauris. Donec eget fermentum orci. Nulla sem nisi,
                      fringilla at egestas consequat, vehicula ac turpis. In id
                      lacus non urna condimentum venenatis. Fusce ut justo
                      aliquam, tempus dolor et, lobortis purus. Aenean sit amet
                      pharetra erat, id lobortis elit. Integer dolor eros,
                      auctor nec nunc ut, gravida semper augue. Mauris
                      sollicitudin mauris arcu, consequat vestibulum leo ornare
                      eu. Mauris ac purus a justo feugiat faucibus. Aliquam
                      lobortis euismod maximus. Donec est dui, convallis id
                      gravida id, pretium vel risus.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <Footer />
    </div>
  </div>
</Layout>
