---

---

<div class="background-primary">
    <section class="section fade-in">
        <div class="w-layout-blockcontainer container w-container">
            <div class="padding-1-25">
                <div class="w-layout-grid footer-grid">
                    <div class="left-column">
                        <div
                            class="w-layout-hflex gap-2-horizontal tablet-vertical"
                        >
                            <a href="#" class="footer-link w-inline-block">
                                <div class="paragraph-secondary footer-hover">
                                    Maestrat Nature S. L
                                </div>
                            </a>
                            <a
                                href="/privacy-policy"
                                class="footer-link w-inline-block"
                            >
                                <div
                                    class="paragraph-secondary footer-hover text-small"
                                >
                                    Privacy Policy
                                </div>
                            </a>
                            <a
                                href="/leader"
                                class="footer-link w-inline-block"
                            >
                                <div
                                    class="paragraph-secondary footer-hover text-small"
                                >
                                    Programa LEADER de Desarrollo Rural - PEPAC
                                    2023-2027
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
